@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@keyframes appear {
    from {transform: scale(0)};
    to {transform: scale(1)};
}

body {
    margin: 0;    
    background-color: rgb(5,5,5);     
    background-image: url('bg.png');
    background-size: cover;
}
.topbar { 
    width:100%;
    padding-top: 2.5vh;
    animation: 0.5s appear;
    height: 7vh;
    background-color: rgb(13,13,13);
}
.mainpageBlog {
    width:60vmax;
    height:300vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: 0.6s appear;
}
.mainpage {
    width:60vmax;
    height:105vh;
    overflow:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: 0.2s appear;
}
.leftside {
    overflow:auto;
    height:100%;
    width:80%;
    float:left;
    background-color: rgb(17,17,17);
    display:grid;
    animation: 0.7s appear;

}
.rightside {
    height:100%;
    width:20%;
    float:right;
    background-color: rgb(10,10,10);
    animation: 0.8s appear;
}         
h1 {
    margin: 0;
    color: white;
}
.full-width { 
    width:100%;
    
}
.button {
    border:none;
    border-radius: 1px;
    background-color:white;
    color: black;
    transition: 0.5s;
    cursor: pointer;

}
.button:hover {
    transform:  scale(1.05);
}
.exampleBlog {

    width: 100%;
    height: 30vmax;
    background-color: rgb(10,10,10);
}
.Blog {

    width: 100%;
    height: 100%;
    background-color: rgb(10,10,10);
}
.blogImage {
    width: 100%;
    height: 17vmax;
    object-fit: contain;
    background-color: rgb(0,0,0);
          
}
.blogTitle {
    word-wrap: break-word;
    margin-left:20px;
}
.blogDescription {
    white-space: pre-line;
    word-wrap: break-word;
    color:white;
    font-size: 0.8vmax;
    margin-left: 50px;
    width: 90%;
          
}
h1,h2,h3,h4,h5,h6,p,button { 
    font-family: 'Quicksand', sans-serif;
}
.right {
    float:right;
}
.read {
    width: 15vmax;
    height: 2vmax;
    margin-right:20px;
}
.blogContent {
    white-space: pre-line;
    word-wrap: break-word;
    color:white;
    font-size: 0.8vmax;
    margin-left: 50px;
    width: 90%;
}
